<div class="container col-6">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title text-center font-weight-bold">Card title</h5> -->
        <form [formGroup]="updateForm" (submit)="formSubmit(routeID, updateForm)">
          <div class="form-group">
            <label for="title" class="font-weight-bold">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
            <!-- <span *ngIf="createForm.get('title').invalid && createForm.get('title').dirty" class="font-weight-light text-danger">This field is required</span> -->
          </div>
  
          <div class="form-group">
            <label label="description" class="font-weight-bold">Description</label>
            <textarea type="text" class="form-control" rows="3" id="description" formControlName="description"></textarea>
          </div>
  
          <div class="form-group">
            <label label="priority" class="font-weight-bold">Priority</label>
            <select class="form-control" id="priority" formControlName="priority">
              <!-- <option disabled="disabled" value="" selected="selected">Select priority...</option> -->
              <option value="1">Minor</option>
              <option value="2">Major</option>
              <option value="3">Critical</option>
            </select>
          </div>
  
          <div class="form-group">
            <label label="reporter" class="font-weight-bold">Reporter</label>
            <select class="form-control" id="reporter" formControlName="reporter">
              <!-- <option disabled="disabled" value="" selected="selected">Select reporter...</option> -->
              <option value="QA">QA</option>
              <option value="PO">PO</option>
              <option value="DEV">DEV</option>
            </select>
          </div>
  
          <div class="form-group">
            <label label="status" class="font-weight-bold">Status</label>
            <select class="form-control" id="status" formControlName="status">
              <!-- <option disabled="disabled" value="" selected="selected">Select status...</option> -->
              <option>Ready for testing</option>
              <option>Done</option>
              <option>Rejected</option>
            </select>
          </div>
          <div class="row btn-row">
            <button type="submit" class="btn btn-danger btn-block" [disabled]="updateForm.invalid">Submit</button>
          </div>
        </form>
  
        <!-- <br><br>
        <div class="row mt-5">
          {{createForm.value | json}}
        </div> -->
      </div>
    </div>
  </div>
  