<!-- <div class="container col-12 col-sm-11 col-md-8 col-lg-6 mt-5" > -->
<div class="container col-12 mt-5 d-flex  aling-items:center">

<div class="col-8 col-lg-6 mx-auto">
  <form [formGroup]="createForm" class="text-light p-4 rounded" (submit)="formSubmit()">
      <div class="form-group">
          <label for="titleInput" >Title</label>
          <input  type="text" 
                  class="form-control"
                  id="titleInput"
                  formControlName="title"
                  [ngClass]="ValidateField('title')">   
      </div>
      <div class="form-group">
          <label for="descriptionInput">Description</label>
          <textarea   class="form-control " 
                      id="descriptionInput"
                      rows="3"
                      formControlName="description"
                      [ngClass]="ValidateField('description')"></textarea>
                      
      </div>
      <div class="form-group">
          <label for="priorityInput">Priority</label>
          <select class="form-control" id="priorityInput" formControlName="priority" [ngClass]="ValidateField('priority')">
              <option value= "1">Minor</option>
              <option value= "2">Major</option>
              <option value= "3">Critical</option>
          </select>
        
      </div>
      <div class="form-group">
          <label for="reporterInput">Reporter</label>
          <select class="form-control" id="reporterInput" formControlName="reporter" [ngClass]="ValidateField('reporter')">
              <option value="QA">QA</option>
              <option value="PO">PO</option>
              <option value="DEV">DEV</option>
          </select>
        
      </div>
      <div class="form-group">
          <label for="statusInput">Status</label>
          <select class="form-control" id="statusInput" formControlName="status" [ngClass]="ValidateField('status')">
              <option value="Ready for testing">Ready for testing</option>
              <option value="Done">Done</option>
              <option value="Rejected">Rejected</option>
          </select>
      </div> 
      <!-- //COMMENTS -->

      <div *ngFor="let item of comments.controls;let idx= index" [formGroup]="item">
       
      <div class="form-group">
        <label for="commentDescription">Comment description</label> 
        <textarea   class="form-control " 
                    id="commentDescription"
                    formControlName="description"
                    rows="3"></textarea>       
        </div>
        <div class="form-group">
        <label for="commentName" >Comment author</label>
        <input  type="text" 
                class="form-control"
                formControlName="reporter"
                id="commentName" >   
        </div>
       
        <div class="btn btn-sm btn-danger col-4 float-right mb-4" (click)="removeComment(idx)">
          delete comment
        </div>
    </div>
    <div class="btn btn-primary text-dark col-12 bg-primary  mt-4" (click)="addComment()">
        Add a Comment
    </div>
        <!-- //COMMENTS -->
      <div class="row  mt-4">
          <button type="submit" class="btn submitButton m-auto">Submit</button>
      </div>   
   </form>
   </div>
</div>


<!-- <div class="form-group" *ngFor="let comment of commentsArray; let idx=index; let isLast=last; let isFirst=first"></div> -->


