<div [@flyInOut] [@fadeIn] class="container ">

  <!-- //advancedSearchForm -->
  <div class="row col-12 mt-2 mb-3">
    <div class="col-3 mb-2">
      <button type="button" class=" btn btn-lg btn-create text-nowrap" [routerLink]="['create-bug']">Create new</button>
    </div>
    <form class="form-inline col-12 col-md-9 ml-auto search-form" *ngIf="state" [@fadeIn]  [@fadeOut] [formGroup]="advancedSearchForm"
      (submit)="formSubmit()">
      <div class="row">
        
        <input type="text" class="form-control effect-10" id="titleInput" placeholder="Enter Keywords" formControlName="title">
        <select class="form-control " id="priorityInput" formControlName="priority">
          <option value="" selected disabled hidden>Priority</option>
          <option value="1">Minor</option>
          <option value="2">Major</option>
          <option value="3">Critical</option>
        </select>

        <select class="form-control" id="reporterInput" formControlName="reporter">
          <option value="" selected disabled hidden>Reporter</option>
          <option value="QA">QA</option>
          <option value="PO">PO</option>
          <option value="DEV">DEV</option>
        </select>

        <select class="form-control " id="statusInput" formControlName="status">
          <option value="" selected disabled hidden>Status</option>
          <option value="Ready for testing">Ready for testing</option>
          <option value="Done">Done</option>
          <option value="Rejected">Rejected</option>
        </select>

        <button type="submit" class="btn btn-danger">Search</button>
        <button type="button" class="btn btn-sm " (click)="clearAdvancedSearch()">Clear</button>
      </div>
    </form>
  </div>
  <!-- //end of advancedSearchForm -->

  <table class="table text-center table-responsive-sm table-responsive-lg text-nowrap">
    <thead >
      <tr>
        <th scope="col" (click)="sortBugs('title');">Title <i [ngClass]="arrowStyle('title')"
            class="fa fa-fw fa-sort "></i></th>
        <th scope="col" (click)="sortBugs('priority');">Priority <i [ngClass]="arrowStyle('priority')"
            class="fa fa-fw fa-sort "></i></th>
        <th scope="col" (click)="sortBugs('reporter');">Reporter <i [ngClass]="arrowStyle('reporter')"
            class="fa fa-fw fa-sort "></i></th>
        <th scope="col" (click)="sortBugs('status');">Status <i [ngClass]="arrowStyle('status')"
            class="fa fa-fw fa-sort"></i></th>
        <th scope="col" (click)="sortBugs('createdAt');">Date Created <i [ngClass]="arrowStyle('createdAt')"
            class="fa fa-fw fa-sort "></i></th>
        <th colspan="2" scope="col" id="searchThBtn" (click)="toggleAdvanced()"
          [ngClass]="state ? 'clicked' : 'default'">
          Advanced Search
        </th>
      </tr>
    </thead>
    <tbody class="table-striped table-light ">
      <tr [@fadeIn] *ngFor="let item of arrayOfBugs">
        <td>{{item.title}}</td>
        <td>{{item.priority}}</td>
        <td>{{item.reporter}}</td>
        <td>{{item.status}}</td>
        <td>{{item.createdAt | date:'yyyy-MM-dd HH:mm'}}</td>
        <td colspan="2" id="tdwithButtons">
          <button type="button" class="btn btn-sm btn-info col-7" [routerLink]="['edit-bug', item.id]"> Edit </button>
          <button type="button" class="btn btn-danger btn-sm col-5" (click)="deleteBug(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row text-center">
    <div class="col-6 mx-auto">
      <button type="button" class="btn btn-md text-light btnUnderTable" (click)="changePage('decrease')"
        [disabled]="pageNumber <= 0"> &#60;</button>
      <span class="font-weight-bold text-light"> {{pageNumber + 1}} / {{totalPages}} </span>
      <button type="button" class="btn btn-md text-light btnUnderTable" (click)="changePage('increase')"
        [disabled]="pageNumber + 1 == totalPages">&#62;</button>
    </div>
  </div>
</div>