/* You can add global styles to this file, and also import other style files */
html{
  min-height: 100%;
  max-width: auto;
  background-size: cover;
  font-size: 1.1rem;
}
body{
  background: rgb(98,113,199);
  background: linear-gradient(41deg, rgba(98,113,199,1) 0%, rgba(180,123,178,1) 100%);

}

.container-fluid {
    padding: 0px;
  }