@import 'assets/styles/form.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
html{
  min-height: 100%;
  max-width: auto;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: linear-gradient(41deg, rgba(98,113,199,1) 0%, rgba(180,123,178,1) 100%);
  background-attachment: fixed;
}

.container-fluid {  
    padding: 0px;
}