<div class="container">
  <div class="table-responsive-md text-nowrap">
    <table class="table table-light table-striped text-center rounded ">
    <thead class="thead-dark">
      <tr>
        <th scope="col" (click)="sortBugs('title');">Title <i [ngClass]="arrowStyle('title')" class="fas ml-2"></i></th>
        <th scope="col" (click)="sortBugs('priority');">Priority <i [ngClass]="arrowStyle('priority')" class="fas ml-2"></i></th>
        <th scope="col" (click)="sortBugs('reporter');">Reporter <i [ngClass]="arrowStyle('reporter')" class="fas ml-2"></i></th>
        <th scope="col" (click)="sortBugs('createdAt');">Date Created <i [ngClass]="arrowStyle('createdAt')" class="fas ml-2"></i></th>
        <th scope="col" (click)="sortBugs('status');">Status <i [ngClass]="arrowStyle('status')" class="fas ml-2"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrayOfBugs">
        <td>{{item.title}}</td>
        <td>{{item.priority}}</td>
        <td>{{item.reporter}}</td>
        <td>{{item.createdAt | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{item.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
