<div class="container">
  <div class = "row buttonRow">
    <div class ="col-2">
      <button type="button" class="btn btn-dark btn-md btn-create" [routerLink] = "['create-bug']">Create new</button>
      <br>
    </div>
  </div>
  
    <table class="table text-center table-responsive-sm text-nowrap">
    <thead class="thead-dark">
      <tr>
        <th style="width: 25%" scope="col" (click)="sortBugs('title');">Title <i [ngClass]="arrowStyle('title')" class="fas ml-2 float-right"></i></th>
        <th style="width: 15%" scope="col" (click)="sortBugs('priority');">Priority <i [ngClass]="arrowStyle('priority')" class="fas ml-2 float-right"></i></th>
        <th style="width: 15%" scope="col" (click)="sortBugs('reporter');">Reporter <i [ngClass]="arrowStyle('reporter')" class="fas ml-2 float-right"></i></th>
        <th style="width: 25%" scope="col" (click)="sortBugs('createdAt');">Date Created <i [ngClass]="arrowStyle('createdAt')" class="fas ml-2 float-right"></i></th>
        <th style="width: 20%" scope="col" (click)="sortBugs('status');">Status <i [ngClass]="arrowStyle('status')" class="fas ml-2 float-right"></i></th>
        <th colspan="2" scope ="col" class="emptyCell" ></th>
        
      </tr>
    </thead>
    <tbody class="table-striped table-light ">
      <tr *ngFor="let item of arrayOfBugs">
        <td>{{item.title}}</td>
        <td>{{item.priority}}</td>
        <td>{{item.reporter}}</td>
        <td>{{item.createdAt | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{item.status}}</td>
        <td colspan="2">
          <button type="button" class="btn btn-warning btn-sm col-7" [routerLink] = "['edit-bug', item.id]"> Edit </button>
          <button type="button" class="btn btn-danger btn-sm col-5" (click) = "deleteBug(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row text-center">
    <div class="col-4 mx-auto">
      <button type="button" class="btn btn-dark btn-md btn-create" (click)="changePage('decrease')" [disabled]="pageNumber<=0"><</button>
      <span class="font-weight-bold text-light float-center "> {{returnPage}} </span>
      <button type="button" class="btn btn-dark btn-md btn-create " (click)="changePage('increase')" [disabled]="!increaseEnabled">></button>
    </div>
  </div>
  

</div>
